body
{
  color: white;
  background:aquamarine;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;

}

#header{
    background-color: rgb(86, 211, 92);
    border-radius: 5px;
    width:50%;
    margin-top: 20px;
   
    height: 125px;
    margin-bottom: 0%;
}

#Heading{
    font-family: algerian;
    font-size: x-large;
}

#hpEmoji{
margin-top: 5px;;

}
#box{
    border: 2px black dashed;
    height: 250px;
}
#box2{
    border: 2px black dashed;
    width:250;
    height:190;
}
#emj1,#emj2,#emj3{
    border-right: 2px white dashed;
}